html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    background: url(signedup.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    display: flex;
    height:    100vh;
    /* width: 150vh; */
    background-color: rgb(252, 252, 251);
    border-radius: 10px;
    overflow: hidden; 
    
    
}
.container1{
    display: flex;
    flex: 1;
    background: url(japwomen.jpg);
    height: auto;
    background-size: 100% auto; /* Adjusted background-size */
    background-repeat: no-repeat;
    background-position: top; 
    
}
.container2{
    display: flex;
    flex: 2;
    flex-direction: column;
    height: auto;
    
}
.top{
    flex: 1;
    
}
.middle{
    flex: 1;
    box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.1);

    
}
.bottom{
    flex: 1;
    
}
.msg{
    position: absolute;
    z-index: -1;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
h2{
    margin-top: 0;
    margin-left: 5vh;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
form{
    display: flex;
    
} 
label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-small;
    color: rgb(111, 111, 111);
  }
input{
    width: 30vh;
    height: 5vh;
}  
.form-left{
    margin-left: 10vh;
    margin-right: 2vh;
}
.form-right{
    margin-left: 5vh;
}
h3{
    margin: 5vh;
}
button{
margin: 5vh;
width: 30vh;
height: 5vh;
background-color: antiquewhite;
border: none;
border-radius: 5px;
box-shadow:  1px 2px 4px rgba(0, 0, 0, 0.1);
font-weight: bold;
}
p{
    margin-left: 5vh;
    font-weight: bold;
}
.login-link {
    text-decoration: none;
    color: rgb(167, 157, 144);
  }
  @media screen and (max-width: 768px) {
    html {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        background-position: center;
        background-size: fill;
        background-image: url(signedup.gif);
        
    }

    .wrapper {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .container1 {
        flex: none;
        height: 80vh;
        width: 100%;
        background-size: 100% auto; 
        background-repeat: no-repeat;
        background-position: top; 
    }

    .container2 {
        flex: none;
        width: 100%;
    }

    h2 {
        margin: 10px; 
        font-size: 1.5em; 
    }

    input {
        width: 90%; 
        margin-bottom: 10px; 
    }

    .form-left {
        margin: 10px;
    }

    .form-right {
        margin: 10px;
    }

    h3 {
        margin: 10px;
    }

    button {
        margin: 10px;
        width: 90%;
    }

    p {
        margin: 10px;
    }
    .msg{
        position: absolute;
        z-index: -1;
        color: white;
        font-size: xx-large;
        font-weight: bold;
    }
}