body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    height: 95vh;
    width: 200vh;
    
}
.container1{
    flex: 1;
    background: url(japwomen.jpg);
    height: auto;
    background-size: contain;
    
}
.container2{
    display: flex;
    flex: 2;
    flex-direction: column;
    height: auto;
    
}
.top{
    flex: 1;
    background-color: blue;
}
.middle{
    flex: 1;
    background-color: blueviolet;
}
.bottom{
    flex: 1;
    background-color: bisque;
}