html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
}
.wrapper{
    display: flex;
    height: 95vh;
    width: 150vh;
    background-color: rgb(252, 252, 251);
    border-radius: 10px;
    overflow: hidden; 
    
}
.container1{
    flex: 1;
    background: url(japwomen.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container2{
    display: flex;
    flex: 2;
    flex-direction: column;
    height: auto;
    
}
.top{
    flex: 1;
    
}
.middle{
    flex: 1;
    box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.1);

    
}
.bottom{
    flex: 1;
    
}
h2{
    margin-top: 0;
    margin-left: 5vh;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
form{
    display: flex;
    
} 
label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-small;
    color: rgb(111, 111, 111);
  }
input{
    width: 30vh;
    height: 5vh;
}  
.form-left{
    margin-left: 10vh;
    margin-right: 2vh;
}
.form-right{
    margin-left: 5vh;
}
h3{
    margin: 5vh;
}
button{
margin: 5vh;
width: 30vh;
height: 5vh;
background-color: antiquewhite;
border: none;
border-radius: 5px;
box-shadow:  1px 2px 4px rgba(0, 0, 0, 0.1);
font-weight: bold;
}
p{
    margin-left: 5vh;
    font-weight: bold;
}
.login-link {
    text-decoration: none;
    color: rgb(167, 157, 144);
  }